<div class="form-container">
  <form (ngSubmit)="addStudent()">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="student.name" name="name" required>
    <br>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" [(ngModel)]="student.surname" name="surname" required>
    <br>
    <label for="courseName">Course Name:</label>
    <select id="courseName" [(ngModel)]="student.courseName" name="courseName" required>
      <option *ngFor="let course of courses" [value]="course">{{ course }}</option>
    </select>
    <br>
    <label for="semester">Semester:</label>
    <select id="semester" [(ngModel)]="student.semester" name="semester" required>
      <option *ngFor="let sem of semesters" [value]="sem">{{ sem }}</option>
    </select>
    <br>
    <button type="submit">Add Student</button>
  </form>
</div>
